/************body*********/
body {
    @import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
    direction: rtl;
    padding-right: 50px;
    padding-top: 50px;
    text-align: right;
    font-family: 'Amatic SC', cursive;
    background-color: #FDD8D3;
    text-shadow: 1px 1px 1px white;
}

/************container font*********/
#container * {
    font-family: 'Amatic SC', cursive;
}
/************container size*********/
#container {
    width: 960px;
    margin: 0 auto;

}

/************p*********/
p {
    margin-top: 25px;
    margin-bottom: 56px;
    margin-right: 0px;
    margin-left: 122px;
  font-size: 25px;
    font-weight: bold;
    word-spacing: 1px;
  
}

/************h1*********/
h1 {
    font-size: 50px;
    margin-top: 92px;
    margin-bottom: 49px;
    margin-right: 0px;
    margin-left: 80px;
   
}

/************h2*********/
h2 {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 49px;
    margin-right: 0px;
    margin-left: 80px;
   
}


/*------nav-------*/
nav ul li{
    display:inline-block;
    float:right;

}
    nav ul li a {
        display: block;
        background-color: #DCDCDD;
        color: black;
        width: 200px;
        height: 35px;
        padding-top: 10px;
        text-decoration: none;
        text-align: center;
        margin-right: 20px;
        border: black solid 1px;
         font-size: 22px;
        font-family: 'Amatic SC', cursive;
        font-weight: bold;
    }
      

        nav ul li a:hover {
            background-color: #FAF5F2;
        }
        nav ul li a:active {
            background-color: #FBC2B9;
        }

.navCurrent {
    background-color: #FBC2B9;
}


/*------gallery-------*/
.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: inherit;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 margin-bottom: 49px;
}

div.gallery:hover {
    border: 1px solid #777;
    filter: drop-shadow(8px 8px 10px gray);
}

div.gallery img {
    width: 100%;
    height: auto;
    display: block;
}

/*------homePage-------*/
#homePage {
    background-color: #FAF5F2;
    width: 700px;
    border: 2px solid #FAF5F2;
    padding: 50px;
    margin: 50px;
    box-shadow: 10px 10px 5px grey;
}


    /*------jerusalemPage-------*/
    #film {
    margin-top: 100px;
    margin-right: 140px;
    margin-bottom: 5px;
    margin-left: 40px;
}

/*------shachafPhoto-------*/
div.shachafPhoto img {
    width: 25%;
    height: auto;
    display: block;
    margin: 5px;
    border: 1px solid #ccc;
    float: inherit;
    margin-bottom: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 50%;
}
